{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="upload" method="post">
    
    <span class="govuk-caption-l">Upload finanacial evidence</span>
    <h1 class="govuk-heading-l">Bank statements</h1>

    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

    
    <p class="govuk-body">The statements must be from a <strong>{{ data['busName'] }}</strong> business account or credit card. You can either use:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>screenshots from an online account showing payment details and bank or building society logos</li>

      <li>a certified report printed from a banking system</li>
    </ul>
   

    <h1 class="govuk-heading-m">Statement rules</h1>

    <div class="govuk-inset-text">You can remove personal information that is not needed from the statements.</div> 

    <p>Statements must show the:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>bank or building society’s name and logo</li>
      <li>account holder name in full</li>
      <li>account number</li>
    </ul>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}