{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="evidence-type" method="post">
    
    <span class="govuk-caption-l">Upload financial evidence</span>
    <h1 class="govuk-heading-l">Financial evidence</h1>

    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

    
    <p class="govuk-body">As you're applying for more than £25,000, you’ll need to upload 2 types of evidence so we can do financial checks. 
    </p>
    <h1 class="govuk-heading-m">1. Evidence you can cover the total item costs</h1>
    <p>We’ll ask you to upload evidence that shows you can cover the cost of items until the grant is claimed.</p>
    <p>You can use a: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>bank or building society statement</li>
      <li>bank or building society email or letter</li>
      <li>evidence of a personal or private loan</li>
    </ul>
   

    <h1 class="govuk-heading-m">2. Evidence the organisation is financially viable</h1>

    <p>We’ll then ask you to upload evidence to show the organisation who will receive the grant is financially viable.</p>

    <p>You can use a: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>full financial accounts for the last 3 years of trading</li>
      <li>your latest tax returns, management accounts or a statement of income and expenses from an accountant (if you’re a new business or self-employed)</li>
    </ul>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}