{% extends "layouts/main-fetf.html" %}

{% set pageName="Confirmation" %}
{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}



  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Application submitted
            </h1>
         
          
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        
        
      
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p class="govuk-body" style="margin: 0;">We have sent you a confirmation email.</p>
        

          <!--
          <a href="javascript:void(0);" onclick="window.print();" style="text-decoration: none;">
            <div style="width: 141px; height: 40px; position: relative;">
              <div style="width: 141px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #BCBDBF solid;"></div>
              <div style="width: 141px; right: 0; top: 8px; position: absolute; text-align: center; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 25px; word-wrap: break-word;">Print this page</div>
            </div>
          </a>
          -->
        </div>
        
        <br><br>
        
        
        



        
        
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ve sent your application to the Rural Payments Agency (RPA).</p>
        <p>They will contact you after 17 April 2025 (the application closing date) to tell you if your application has been successful, or to ask for more information</p>
        <p>It normally takes around 6 weeks after the closing date to process applications.</p>
        <p>If you’re successful, we’ll send you a grant funding agreement  (GFA) with a list of items you can claim for. 
        </p>

        <div class="govuk-inset-text"> Do not buy any of the items until you receive a GFA.</div>

       

        
       


          <h2 class="govuk-heading-m">Track and manage your application</h2>


          <p class="govuk-body">You can sign in to your application at any time to track progress and manage it</p>

          <br>







        {% include "../../_includes/details-block_application-questions-contact.html" %}

       <br><br>




      <!--


       <p class="govuk-body">
        <a href="../../../application/v1-0/submit-application/email-received">Go to email</a></p>
       </p>

     -->

       
 
      </div>
    </div>
  </main>
</div>

{% endblock %}