{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="login" method="post">
    

    <h1 class="govuk-heading-l">Apply for help to buy productivity items</h1>


    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

    
    <p class="govuk-body">Use this service to apply for help to buy farming productivity items.</p>
    <p class="govuk-body"><strong>Application closing date</strong>: 17 April 2025, midday</p>
    
    <h1 class="govuk-heading-m">Before you apply</h1>

     <p class="govuk-body">You must have <a class="govuk-link" href="https://www.gov.uk/guidance/rural-payments-service-registering-and-updating-your-details">registered with the Rural Payments service</a> to apply.</p>

     <p class="govuk-body">You can apply for someone else if they've given you permission to apply on their behalf in the Rural Payments service.</p>

     <p class="govuk-body">You can check the <a class="govuk-link" href="https://www.gov.uk/government/publications/farming-equipment-and-technology-fund-2024/productivity-items-and-specifications-farming-equipment-and-technology-fund-fetf-2024">productivity items and specification list</a> to see which items you can apply for.</p>


    <h1 class="govuk-heading-m">What you’ll need</h1>

    <p>If you apply for more than £25,000, you’ll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>evidence to show you can cover the total cost - for example, evidence of a personal or private loan, or a bank or building society statement, email or letter</li>

      <li>financial accounts for the most recent 3 years of trading</li>

      <li>your latest tax returns, management accounts or a statement of income and expenses from an accountant (if you’re a new business or self-employed)</li>
    </ul>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Start now
</button>

</form>

</div>
</div>
</main>

{% endblock %}