{% extends "layouts/main-fetf.html" %}

{% block pageTitle %}
{{ data['fetf-grant-type'] }}
{% endblock %}


{% block beforeContent %}
{% include "../_includes/phase-banner_alpha.html" %}
{% if (data.agent == 'Yes') %}
  {% include "../_includes/sub-header_business-agent-details.html" %}
{% else %}
  {% include "../_includes/sub-header_business-applicant-details.html" %}
{% endif %}
{% endblock %}

{% block content %}



  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



<span class="govuk-caption-xl">Farming Equipment and Technology Fund 2025
</span>
<h1 class="govuk-heading-xl">Apply for help to buy slurry sorage</h1>
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Your grant details
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading"></p>
      <p><strong>Eligible expenditure</strong>: £46,000 <br>
    <strong>Ineligible expenditure</strong>: £7,000 <br>
    <strong>Total grant amount</strong> £46,000 </p>
  </div>
</div>


<div class="govuk-inset-text">
    Application closing date is <strong>17 April 2025</strong>.
  </div>


    <h2 class="govuk-prototype-kit-task-list__section">
      Apply
    </h2>
    <ul class="govuk-task-list">

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Check before you start</h3>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">


          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="check-details/check-your-details-mini" aria-describedby="application-details-2-status">Check application details</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>

    </li>
<h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">Prepare your application</h3>
<!--
    <li class="govuk-task-list__item ">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="check-details/check-start" aria-describedby="application-details-2-status">Add project details</a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--blue">
         Not yet started
        </strong>
      </div>
    </li>
        <li class="govuk-task-list__item ">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="check-details/check-start" aria-describedby="application-details-2-status">Add project costs and funding</a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--blue">
         Not yet started
        </strong>
      </div>
    </li>
        <li class="govuk-task-list__item ">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="check-details/check-start" aria-describedby="application-details-2-status">Provide project delivery risks and mitigation details</a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--blue">
         Not yet started
        </strong>
      </div>
    </li> 
            <li class="govuk-task-list__item ">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="check-details/check-start" aria-describedby="application-details-2-status">Provide project team details</a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--blue">
         Not yet started
        </strong>
      </div>
    </li> -->

    <li class="govuk-task-list__item ">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="about-items/equipment-address" aria-describedby="application-details-2-status">Your existing slurry stores</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
      </li>
          <li class="govuk-task-list__item ">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="about-items/equipment-address" aria-describedby="application-details-2-status">Your new slurry stores</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
      </li>

    <li class="govuk-task-list__item ">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="select-items/item-search-or-list" aria-describedby="application-details-2-status">Add slurry items</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>

    </li>
  





      <li class="govuk-task-list__item ">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="upload-evidence/evidence-add" aria-describedby="application-details-2-status">Upload evidence</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>

      </li>

    
<h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">Submit application</h3>
    <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="submit/check-your-details" aria-describedby="application-details-2-status">Submit application</a>
        </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
             Not yet started
            </strong>
          </div>

    </li>
  
</ul>




<br><br>

<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Need help?</h2>
  <p class="govuk-body app-contact-panel__body">
    <a class="govuk-link" href="/fetf/change-request/help-triage">Contact the team</a> if you need help, want to report a problem or want to make a change to your Grant Funding Agreement.
  </p>
</div>

</div>

</div>
</main>



{% endblock %}