{% extends "layouts/main-fetf.html" %}

{% block pageTitle %}
{{ data['fetf-grant-type'] }}
{% endblock %}


{% block beforeContent %}
{% include "../_includes/phase-banner_alpha.html" %}
{% if (data.agent == 'Yes') %}
  {% include "../_includes/sub-header_business-agent-details.html" %}
{% else %}
  {% include "../_includes/sub-header_business-applicant-details.html" %}
{% endif %}
{% endblock %}

{% block content %}



  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



<span class="govuk-caption-xl">Farming Equipment and Technology Fund 2025
</span>
<h1 class="govuk-heading-xl">Apply for help to buy farming productivity items</h1>


<div class="govuk-inset-text">
    Application closing dae is <strong>17 April 2025</strong>.
  </div>


    <h2 class="govuk-prototype-kit-task-list__section">
      Apply
    </h2>
    <ul class="govuk-task-list">

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Check before you start</h3>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        {% if (data.checkComplete == 'Yes') %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="check-details/check-your-details-mini" aria-describedby="application-details-2-status">Check application details</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
        {% else %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="check-details/check-start" aria-describedby="application-details-2-status">Check application details</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
             Not yet started
            </strong>
          </div>
        {% endif %}
    </li>
<h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">Prepare your application</h3>



    <li class="govuk-task-list__item ">

        {% if (data.selectComplete == 'Yes') %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="select-items/selected-items" aria-describedby="application-details-2-status">Add items</a>

          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
        {% else %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="select-items/item-search-or-list" aria-describedby="application-details-2-status">Add items</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
             Not yet started
            </strong>
          </div>
        {% endif %}
    </li>
  


    <li class="govuk-task-list__item ">
        {% if (data.aboutItemsComplete == 'Yes') %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="about-items/equipment-summary" aria-describedby="application-details-2-status">About your items</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
        {% elseif (data.selectComplete == 'Yes') %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="about-items/equipment-address" aria-describedby="application-details-2-status">About your items</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
             Not yet started
            </strong>
          </div>
        {% else %}
          <div class="govuk-task-list__name-and-hint">
            About your items
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            
             Cannot start yet
            
          </div>
        {% endif %}
      </li>

  
    {% if (data.uploadFin == 'Yes') %}
      <li class="govuk-task-list__item ">
        {% if (data.evComplete == 'Yes') %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="upload-evidence/evidence-add" aria-describedby="application-details-2-status">Upload financial evidence</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
           Completed
          </div>
        {% else %}
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="upload-evidence/upload-start" aria-describedby="application-details-2-status">Upload financial evidence</a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
             Not yet started
            </strong>
          </div>
        {% endif %}
      </li>
    {% endif %}
    
<h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">Submit application</h3>
    <li class="govuk-task-list__item">
      {% if ((data.uploadFin === 'Yes') and (data.evComplete === 'Yes') and (data.aboutItemsComplete === 'Yes')) or ((data.evComplete === 'No') and (data.aboutItemsComplete === 'Yes')) %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="submit/check-your-details" aria-describedby="application-details-2-status">Submit application</a>
        </div>
        <div class="govuk-task-list__status" id="company-details-1-status">
          <strong class="govuk-tag govuk-tag--blue">
           Not yet started
          </strong>
        </div>
      {% else %}
        <div class="govuk-task-list__name-and-hint">
          <div>Submit application</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      {% endif %}
    </li>
  
</ul>




<br><br>

<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Need help?</h2>
  <p class="govuk-body app-contact-panel__body">
    <a class="govuk-link" href="/fetf/change-request/help-triage">Contact the team</a> if you need help, want to report a problem or want to make a change to your Grant Funding Agreement.
  </p>
</div>

</div>

</div>
</main>



{% endblock %}