{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <span class="govuk-caption-l">Apply</span>
     
<!--
 

    -->
          <h1 class="govuk-heading-l">What type of items do you want to apply for?</h1>

          <p>Check the <a href="https://www.gov.uk/government/publications/farming-equipment-and-technology-fund-2024/productivity-items-and-specifications-farming-equipment-and-technology-fund-fetf-2024" class="govuk-link">productivity items and specification list</a>  to see all items.</p>
    <p class="govuk-body-l">select all that apply</p>

     <form  method="post" novalidate action="/equipmentListApplyFilters">


       {{ govukCheckboxes({
        idPrefix: 'category',
        name: 'category',
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: 'Category',
            classes: 'govuk-fieldset__legend--s'
          }
        },
        items: [
          {
            value: 'Arable',
            text: 'Arable',
            checked:  checked("category", "Arable")
          },
          {
            value: 'Forestry',
            text: 'Forestry',
            checked:  checked("category", "Forestry")
          },
          {
            value: 'General',
            text: 'General',
            checked:  checked("category", "General")
          },
          {
            value: 'Horticulture',
            text: 'Horticulture',
            checked:  checked("category", "Horticulture")
          },
          {
            value: 'Livestock',
            text: 'Livestock',
            checked:  checked("category", "Livestock")
          },
          {
            value: 'Resource and energy management',
            text: 'Resource and energy management',
            checked:  checked("category", "Resource and energy management")
          },
          {
            value: 'Water and irrigation management',
            text: 'Water and irrigation management',
            checked:  checked("category", "Water and irrigation management")
          }
        ]
      }) }}







      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}