{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} {{ item.title }} {% endblock %}


{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="equipment-list">Items</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">{{ item.title }}
      </li>
    </ol>
  </div> -->

{% endblock %}


{% block content %}

    <form action="/fetf-add-to-selected-items1" method="post">
      <input type="hidden" name="termName" value="{{ item.termName }}">


    <!-- <span class="govuk-caption-xl">{{ item.section }}</span> -->

    
    
   


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">Your future slurry storage capacity</h1>


<p>Based on your answers, you will have <strong>1,400 m3</strong> of slurry storage capacity.




<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How we calculated this capacity
    </span>
  </summary>
  <div class="govuk-details__text">
    content needed
  </div>
</details>










  


<div class="govuk-button-group">
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
<br>

</form>



 <a class="govuk-button govuk-button--secondary" href="equipment-list">

    Cancel
  
  </a>
</div>







  </div>



</div>
{% endblock %}