{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your Organisation and contact details {% endblock %}

{% block beforeContent %}
{% include "../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirmation" method="post">
    <h1 class="govuk-heading-l">Check your answers before submitting your application</h1>

      <h2 class="govuk-heading-m">The applicant</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation applying
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['yourOrg'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Applicant's name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Project planned</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of projects
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['noProj'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project 1 name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['pName1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project 1 purpose
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['projectType'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Minimum project requirements</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Avian systems 
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building features 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Biosecurity features 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ventilation systems 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Veranda systems 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

    </dl>
 <h2 class="govuk-heading-m">Your contact preferences</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact method for {{ data['aBusName'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['contactPrefa']  }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Your agent contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['agentName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['aBusName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>

    
      {% if data.contactPrefa | includes("Email") %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['agentEmail'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.contactPrefa | includes("Phone")  %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['agentNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.contactPrefa | includes("Post") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['aNameNo'] }} North Road<br>
          Haywards Heath<br>
          West Sussex<br>
          {{ data['aPostcode'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>
  


    <h2 class="govuk-heading-m">Applicant contact preferences</h2>
    

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Can we contact {{ data['applicantName'] }}?
        </dt>
        <dd class="govuk-summary-list__value">

          {{ data['applicantContact'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>      

      {% if (data.applicantContact == 'Yes') %}

    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact method for {{ data['busName'] }}
        </dt>
        <dd class="govuk-summary-list__value">

          {{ data['contactPref'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Your applicant contact details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">  
    {% if data.contactPref | includes("Email") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          the.harts@gmail.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.contactPref | includes("Phone") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          01273 726300
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile 
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantContactNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.contactPref | includes("Post") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          North Farmstead<br>
          Princes Lane<br>
          Hassocks<br>
          BN5 93B
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    {% endif %}
  {% endif %}
   </dl>
   

 {% if (data.addAnotherBuilding) %}
    <div class="govuk-form-group">
    <h2 class="govuk-heading-m">You have told us about {{ data['buildingNumber'] | default('1') }} existing buildings</h2>
    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          {{ data['housingName'] }} (will {{ data['housingIntent'] }})
        </dt>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">

        </dd>
      </div>
      {% if (data.buildingNumber == '2') %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          {{ data['housingName2'] }} (will {{ data['housingIntent2'] }})
        </dt>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">

        </dd>
      </div>
      {% endif %}
    </dl>
    <p class="govuk-!-margin-bottom-9"><a href="" class="govuk-link-text">Change the number of buildings you want to tell us about</a></p>
    {% endif %}

    
    <h2 class="govuk-heading-m">Existing housing details {% if (data.buildingNumber == '2') %}building one{% endif %} </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Building name 
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can this building house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['totalHousingCap'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Intention for {{ data['housingName'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingIntent'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    {% if (data.buildingNumber == '2') %}
    <h2 class="govuk-heading-m">Existing housing details building two</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Building name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingName2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can this building house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['totalHousingCap2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Intention for {{ data['housingName2'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingIntent2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    {% endif %}

    <h2 class="govuk-heading-m">New building details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can the new building(s) house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingCap'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

    </dl>

<h2 class="govuk-heading-m">Keeper details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Christopher
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Surname
        </dt>

        <dd class="govuk-summary-list__value">
          Hart
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Keeper ID
        </dt>
        <dd class="govuk-summary-list__value">
          123456
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
    </dl>

      <h2 class="govuk-heading-m">Location where you keep poultry</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9"> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of site where you keep poultry
        </dt>
        <dd class="govuk-summary-list__value">
          Plumpton Farm
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address of site where you keep poultry
        </dt>
        <dd class="govuk-summary-list__value">
          North Farmstead<br>
          Princes Lane<br>
          Hassocks<br>
          BN5 93B
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County parish holding (CPH) number
        </dt>
        <dd class="govuk-summary-list__value">
          12/345/6789
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Map reference
        </dt>
        <dd class="govuk-summary-list__value">
          SP 59887 48346
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
   {% set projCost = data.projCost2 | toNumber  %}
    {% set nonProjCost = data.nonProjCost | toNumber  %}
    {% set sum = projCost - nonProjCost %}
    {% set totalHousingCap = data.totalHousingCap | toNumber  %}
    {% set totalHousingCap2 = data.totalHousingCap2 | toNumber  %}
    {% set housingCap = data.housingCap | toNumber  %}
    {% set oldChicSum = totalHousingCap + totalHousingCap2 %}
    {% set newCapacity = 0 %}
    {% if data.housingIntent == 'Keep for hen housing'%}
      {% set newCapacity = totalHousingCap %}
    {% endif %}>
    {% if data.housingIntent2 == 'Keep for hen housing'%}
      {% set newCapacity = newCapacity + totalHousingCap2 %}
    {% endif %}
    {% set newCapacity = newCapacity + housingCap %}
    {% if newCapacity > oldChicSum %}
      {% set grantPercent = ((oldChicSum / newCapacity) * 0.4) * 100 | round(0) %}
    {% else %}
      {% set grantPercent = 40 %}
    {% endif %}
    {% set funding = sum * grantPercent/100 %}
     <h2 class="govuk-heading-m">Your project costs answers</h2>

     <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          Estimated total project costs
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['projCost2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Estimated non grant-funded costs
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['nonProjCost'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Costs eligible for grant funding
        </dt>


        <dd class="govuk-summary-list__value">
          {{ sum | currency(unit="GBP") }}
        </dd>


        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          Adjustments based on flocks size changes
        </dt>
        <dd class="govuk-summary-list__value">
          The grant value is <strong>{{ grantPercent | round(1) }}%</strong> of your eligible costs
        </dd>
        <dd class="govuk-summary-list__actions">
 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          Your grant value
        </dt>
        <dd class="govuk-summary-list__value">
          {{ funding | currency(unit="GBP") }}
        </dd>
        <dd class="govuk-summary-list__actions">
 
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Poultry health and welfare improvement</h2>

      <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
     Funding priority check results
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Result: Strong
    </h3>
    <p>Your application is more likely to be successful as your project meets Defra’s funding priorities, based on your answers.

  </div>
</div>
    

    

  
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reduce keel bone fractures and support transition out of colony cages
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['hwiActivity'] | checkboxAnswersToList | safe | default('No improvements added') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Protects against spread of disease and infection
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['bioActivity'] | checkboxAnswersToList | safe | default('No improvements added') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Renewable energy use
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['esActivity'] | checkboxAnswersToList | safe | default('No improvements added') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Innovative system use
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['digiActivity'] | checkboxAnswersToList | safe | default('No improvements added') }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Innovative data capture
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['pDataActivity'] | checkboxAnswersToList | safe | default('No improvements added') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

    

<h2 class="govuk-heading-m">Now submit your application</h2>
<p>By submitting this application you confirm that you understand and agree with the following statements:</p>
 <ul class="govuk-list govuk-list--bullet">
  <li>I have read, understood and accept the <a href="" class="govuk-link">terms and conditions (opens in a new window)</a>and the <a href="" class="govuk-link">privacy policy (opens in a new window)</a></li>
  <li>the information I have provided is true and correct to the best of my knowledge</li>
  <li>my information and details might be audited and reviewed, and shared with others to prevent and detect fraud</li>
  <li>I will tell the Rural Payments Agency if my circumstances change</li>
</ul>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Confirm and submit
</button>


</form>

</div>
</div>
</main>

{% endblock %}