{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}
<form action="/applicantContact1" method="post">
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="applicantContact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">

    Who we can contact
      </h1>
    </legend>
    <p class="govuk-inset-text">As you’re an agent, we’ll send you all updates about this application.</p>

    <h2 class="govuk-heading-m">Can we also contact {{ data['applicantName'] }} about this application?</h2>
<p>We will send them updates and requests for infomation as well those sent to you.</p>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applicantContact" name="applicantContact" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="applicantContact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applicantContact-2" name="applicantContact" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="applicantContact-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        
      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}