{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/authComplete1" method="post">

    <h1 class="govuk-heading-l">Check  applicant contact details</h1>

    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

      <h2 class="govuk-heading-m">Your applicant contact details </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>


      {% if data.contactPref | includes("email") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantContactEmail'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.contactPref | includes("phone") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantContactNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-agent-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
       {% endif %}
    </dl>
  


{% if data.contactPref | includes("post") %}

    <h2 class="govuk-heading-m">Applicant address</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantContactNameNo'] }} North Road<br>
          Haywards Heath<br>
          West Sussex<br>
          {{ data['applicantContactPostcode'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-agent-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    </dl>

  {% endif %}
 <h2 class="govuk-heading-m">Confirm and continue</h2>
 <p>By continuing you confirm these details are correct and up-to-date.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}