{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}
<form action="applicant-contact" method="post">
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="applicantName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
    Which applicant are you applying for?
      </h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios"> 
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applicantName" name="applicantName" type="radio" value="Christopher Hart">
        <label class="govuk-label govuk-radios__label" for="applicantName">
          Christopher Hart
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applicantName" name="applicantName" type="radio" value="Helen Hart">
        <label class="govuk-label govuk-radios__label" for="applicantName">
         Helen Hart
        </label>
      </div>
    </div>
  </fieldset>
</div>
          






      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}