{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="biosecurity-features" method="post">
    <h1 class="govuk-heading-l">Check building featurest</h1>
    <h2 class="govuk-heading-m">Housing</h2>  
    <p class="govuk-body">The housing must have <strong>all the following</strong>:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Catch trays under chimneys and roof-mounted vents.</li>
      <li>Fixed structure with a solid concrete floor.</li>      
      <li>Full wall and roof insulation.</li>
      <li>Mesh capping applied to any roof or wall inlets and outlets (using a mesh hole of 25 millimetres or less)</li>
      <li>Watertight roof and walls.</li>
    </ol>
        <h2 class="govuk-heading-m">House lighting system</h2>  
    <p class="govuk-body">The house lighting system must have <strong>all the following</strong>:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Full coverage of exposed floor-litter (scratch) area .</li>
      <li>Non-flicker LED light with colour temperature between 2,700 and 4,000 Kelvin.</li>      
      <li>Red light option.</li>
      <li>Zonal dimming capacity (0 to 60 lux).  </li>
    </ol>

    <h2 class="govuk-heading-m">Confirm the project will have these features</h2>
    <p>By continuing, you confirm the project will have all these features.</p>

    <div class="govuk-inset-text">If your project does not have all these features, you will not be eligible for this grant.</div>



<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
     Confirm and continue
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Exit application
  </button>
</div>

</form>

</div>
</div>
</main>

{% endblock %}