{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your Organisation and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/authComplete1" method="post">
    <h1 class="govuk-heading-l">Check applicant, project and grant requirement answers</h1>


    <h2 class="govuk-heading-m">The applicant</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation applying
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['yourOrg'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Applicant's name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['applicantName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Project planned</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of projects
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['noProj'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project 1 name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['pName1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project 1 purpose
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['projectType'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Minimum project requirements</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Avian systems 
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building features 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Biosecurity features 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ventilation systems 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Veranda systems 
        </dt>
        <dd class="govuk-summary-list__value">
          Can meet requirements
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Review<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

    </dl>






    
 <h2 class="govuk-heading-m">Confirm and continue</h2>
 <p>By continuing you confirm these details are correct and up-to-date.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}