{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your Organisation and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/housingComplete1" method="post">
    

    <h1 class="govuk-heading-l">Check building answers</h1>

  
    <div class="govuk-form-group">
    <h2 class="govuk-heading-m">You have told us about {{ data['buildingNumber'] | default('1') }} existing buildings</h2>
    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          {{ data['housingName'] }} (will {{ data['housingIntent'] }})
        </dt>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">

        </dd>
      </div>
      {% if (data.buildingNumber == '2') %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          {{ data['housingName2'] }} (will {{ data['housingIntent2'] }})
        </dt>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">

        </dd>
      </div>
      {% endif %}
    </dl>
    <p class="govuk-!-margin-bottom-9"><a href="" class="govuk-link-text">Change the number of buildings you want to tell us about</a></p>
    <h2 class="govuk-heading-m">Existing housing details {% if (data.buildingNumber == '2') %}building one{% endif %} </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Building name 
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can this building house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['totalHousingCap'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total usable floor area of housing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableArea'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Usable area at floor level
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableAreaFL'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Intention for {{ data['housingName'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingIntent'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    {% if (data.buildingNumber == '2') %}
    <h2 class="govuk-heading-m">Existing housing details building two</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Building name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingName2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can this building house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['totalHousingCap2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total usable floor area of housing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableArea2'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Usable area at floor level
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableAreaFL2'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Intention for {{ data['housingName2'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingIntent2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    {% endif %}

    <h2 class="govuk-heading-m">New building details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many birds can the new building(s) house?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['housingCap'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total usable floor area of housing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableAreaC'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Usable area at floor level
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['usableAreaFLC'] }} m2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div> -->
    </dl>


 <h2 class="govuk-heading-m">Confirm and continue</h2>
 <p>By continuing you confirm these details are correct and up-to-date.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}