{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your Organisation and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/projDetailsComplete1" method="post">
    

    <h1 class="govuk-heading-l">Check project date and location details</h1>

  <h2 class="govuk-heading-m">Project start date</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proposed project start date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['start-day'] }} / {{ data['start-month'] }} / {{ data['start-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="organisation-name">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Project location</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Will the project be located at BN5 93B?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['locationYN'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Project site details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
       {% if data.keeperName %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Keeper name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['keeperName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data.keeperID %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Keeper ID
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['keeperID'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['location'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nameNo2'] }}<br>
          Princes Lane<br>
          Hassocks<br>
          {{ data['postcode2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County parish holding (CPH) number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['cph1'] }}/{{ data['cph2'] }}/{{ data['cph3'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Grid field number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['ngfNo'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-vat">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

    </dl>
 <h2 class="govuk-heading-m">Confirm and continue</h2>
 <p>By continuing you confirm these details are correct and up-to-date.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}