{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}
<form action="/gfaComplete1" method="post">
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="gfaResp-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
    Grant funding agreement responsibility
      </h1>
    </legend>
    <p>We need to check who will be responsible for the grant funding agreement. </p>
    <p>Grant funding agreements run for 5 years after the final grant payment has been made.</p>
    <div class="govuk-heading-s">Does Christopher Hart own the land the project will be on?</div>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="gfaResp" name="gfaResp" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="gfaResp">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="gfaResp-2" name="gfaResp" type="radio" value="No, they rent it">
        <label class="govuk-label govuk-radios__label" for="gfaResp-2">
          No, they rent it
        </label>
      </div>
    </div>
  </fieldset>
</div>

          






      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}