{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
    {{ data['buildingNumber'] | default('1') }} existing building{% if (data.buildingNumber == '2') %}s{% endif %} added
      </h1>
    </legend>
    

<div class="govuk-form-group">

     <table class="govuk-table">
        
        <colgroup>
          <col style="width: 22%;">
          <col style="width: 22%;">
          <col style="width: 31%;">
          <col style="width: 25%;"> <!-- Sets width for the last column -->
        </colgroup>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Building name</th>
            <th scope="col" class="govuk-table__header">Current capacity</th>
            <th scope="col" class="govuk-table__header">What you’ll do with the building</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['housingName'] }}</th>
            <td class="govuk-table__cell">{{ data['totalHousingCap'] }}</td>
            <td class="govuk-table__cell">{{ data['housingIntent'] }}</th>
            <td class="govuk-table__cell">        <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
              </ul></td>
          </tr>
          {% if (data.buildingNumber == '2') %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['housingName2'] }}</th>
            <td class="govuk-table__cell">{{ data['totalHousingCap2'] }}</td>
            <td class="govuk-table__cell">{{ data['housingIntent2'] }}</th>
            <td class="govuk-table__cell">        <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
              </ul></td>
          </tr>
          {% endif %}        
        </tbody>
      </table>



</div>
<form method="post" novalidate action="/housingAdd1">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another building?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="addAnotherBuilding" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="addAnotherBuilding" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}