{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="hwi-in-project" method="post">



    <h1 class="govuk-heading-l">Check if your project meets funding priorities</h1>
    <p class="govuk-body">We need to check how closely your project meets the Department for Environment, Food and Rural Affairs (Defra's) priorities for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>increasing environmental outcomes</li>
      <li>improving poultry and health welfare</li>
    </ul>

    <div class="govuk-heading-m">Project details you'll need</div>
    <p>You'll need details of any project features that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>reduce keel bone fractures</li>
      <li>support the transition out of colony cages</li>
      <li>protect against the spread of disease and infection</li>
      <li>use renewable energy</li>
      <li>use innovate systems and capture innovative data</li>
    </ul>  
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If we invite you to apply, you’ll have to provide evidence of any project features you tell us about.
      </strong>
    </div>

    <div class="govuk-heading-m">How we assess applications</div>
    <p>We assess applications based on:</p>
    <ul class="govuk-list govuk-list--bullet">    
      <li>how many we receive</li>
      <li>how closely they meet the funding priorities</li>      
      <li>value for money</li>
    </ul>

<button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>


</form>

</div>
</div>
</main>

{% endblock %}