{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="grant-summary" method="post">

      <h1 class="govuk-heading-l">Estimated non grant-funded project costs</h1>



  <div>
    <p>The following costs are not eligible for grant funding (this list is not exhaustive):</p>
        <h2 class="govuk-heading-s">Agricultural and consumable costs</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Agricultural production rights and payment entitlements costs</li>
      <li>Ongoing ‘consumable’ costs (like poultry feed).</li>
    </ol>

    <h2 class="govuk-heading-s">Equipment and items</h2>

    <ol class="govuk-list govuk-list--number">
      <li>Egg quality, packing or processing equipment.</li>
      <li>Items not directly associated with the funded building.</li>
      <li>Moveable items not in the minimum design specification.</li>
      <li>Standard agricultural equipment and inputs.</li> 
      <li>Work involving, or items located within, the range (like pond removal, tree planting or artificial shelters).</li>
    </ol>

    <h2 class="govuk-heading-s">Facilities and housing</h2>

    <ol class="govuk-list govuk-list--number">
      <li>Manure storage facilities.</li>
      <li>Mobile housing.</li>
      <li>Non-permanent structure not included in the minimum design specification.</li>
    </ol>

    <h2 class="govuk-heading-s">Systems</h2>

     <ol class="govuk-list govuk-list--number">
      <li>Automated vehicle washing systems.</li>
      <li>Combi-cage systems.</li>
      <li>High-pressure cooling (misting) systems.</li>
      <li>Solar PV systems for installation on the range, or on roofs that face only north or are fully shaded.</li>
    </ol>
  </div>

<h2 class="govuk-heading-s">Estimated non grant-funded project costs</h2>
    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-10" id="employees-number" name="nonProjCost" type="text" spellcheck="false" aria-describedby="employees-number-hint" inputmode="numeric" value="{{ data['nonProjCost'] }}">
      </div>
      <br> <br>




    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}