{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your Organisation and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/orgComplete1" method="post">
    <h1 class="govuk-heading-l">Check organisation details are correct</h1>

    <p class="govuk-body">This is the organisation that will receive the grant if successful.</p> 

 <h2 class="govuk-heading-m">Business contact details</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['busName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">


        </dd>
      </div>
    </dl>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nameNo1'] }}<br>
          Princes Lane<br>
          Hassocks<br>
          {{ data['postcode1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">


        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          01632 960000
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile
        </dt>
        <dd class="govuk-summary-list__value">
          07700 900 967
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          plumptonfarm@gmail.com
        <dd class="govuk-summary-list__actions">


        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Reference numbers</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single business identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          357951123
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>      <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">
          Company registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['chNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VAT registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['vatNo'] }}
        </dd>
        <dd class="govuk-summary-list__actions">


        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Additional details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['legalStatus'] }}
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business type
        </dt>
        <dd class="govuk-summary-list__value">
          Farmer
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
    </dl>
    If you need to make changes, you can <a href="">view and update your business details</a> in your account. 
    

    <h2 class="govuk-heading-m">Business activity</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Main business
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['activity'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Financial details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          Turnover
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['turn'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="company-reg">Change<span class="govuk-visually-hidden"> Change Organisation name</span></a>
        </dd>
      </div>
    </dl>

 <h2 class="govuk-heading-m">Confirm and continue</h2>
 <p>By continuing you confirm these details are correct and up-to-date.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}