{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check-your-business-details" method="post">


      <h1 class="govuk-heading-l">Confirm your company County Parish Holding number</h1>

      <div class="govuk-form-group">





        <div class="govuk-form-group">
          <label class="govuk-label" for="bName">
            Company CPH number
          </label>
            <input class="govuk-input govuk-input--width-10" id="employees-number" name="cphNo" type="text" spellcheck="false" aria-describedby="employees-number-hint" inputmode="numeric" value="{{ data['cphNo'] }}">
        </div>




      </div>


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}